<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %>
  <main style="margin: 1em;">
    <h3>Create Account</h3>
    <table class="table">
      <thead>
        <tr>
          <form method="post" action="/register">
            <input placeholder="email" type="email" name="email">
            <input placeholder="password" type="password" name="password">
            <!-- Please sign in or register: -->
            <button type="submit" class="btn btn-light">Register</button>
          </form>
        </tr>
      </thead>
      <tbody>
        </tbody>
      </table>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
